* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  height: 80px;
  width: 100px;
  /* background-color: aquamarine; */
  background-color: rgb(60, 181, 233);
  margin: 50px;
  animation: rotate-animation 5s linear infinite;
}

.bouncing-ball {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.first {
  height: 50px;
  width: 50px;
  background-color: rgb(239, 6, 6);
  border-radius: 50%;
  animation: bounce-animation 1s ease-in-out 0s;
  /* animation-delay: 0s; */
}
.second {
  height: 50px;
  width: 50px;
  background-color: rgb(192, 192, 19);
  border-radius: 50%;
  animation: bounce-animation 1s ease-in-out 0.3s;
  /* animation-delay: 0.3s; */
}
.third {
  height: 50px;
  width: 50px;
  background-color: rgb(7, 36, 250);
  border-radius: 50%;
  animation: bounce-animation 1s ease-in-out 0.6s;
  /* animation-delay: 0.6s; */
}
.fourth {
  height: 50px;
  width: 50px;
  background-color: rgb(9, 200, 57);
  border-radius: 50%;
  animation: bounce-animation 1s ease-in-out 0.8s;
  /* animation-delay: 0.8s; */
}
@keyframes bounce-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotate-animation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
  /* 0%   {background-color: aquamarine;}
  25%  {background-color: rgb(7, 192, 216);}
  50%  {background-color: rgb(11, 33, 162);}
  100% {background-color: rgb(112, 17, 190);} */
}
