*{
 padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
    height: 80px;
    width: 100px;
    /* background-color: aquamarine; */
    background-color: rgb(60, 181, 233);
    margin: 50px;
    animation: rotate-animation 5s linear infinite;
  
}

.bouncing-ball{
   display: flex;
    gap: 20px;
    justify-content: center;
}
.first{
     height: 50px;
    width: 50px;
    background-color: aquamarine;
    border-radius: 50%;
    animation: bounce-animation 2s ease-in-out infinite;
    animation-duration: 2s;
  animation-delay: 2s;
    
}
.second{
     height: 50px;
    width: 50px;
    background-color: rgb(192, 192, 19);
    border-radius: 50%;
    animation: bounce-animation 2s ease-in-out infinite;
    animation-duration: 2s;
  animation-delay: 3s;
    
}
.third{
     height: 50px;
    width: 50px;
    background-color: rgb(9, 205, 65);
    border-radius: 50%;
    animation: bounce-animation 2s ease-in-out infinite;
    animation-duration: 2s;
  animation-delay: 4s;
    
}
.fourth{
     height: 50px;
    width: 50px;
    background-color: rgb(175, 16, 16);
    border-radius: 50%;
    animation: bounce-animation 2s ease-in-out infinite;
    animation-duration: 2s;
  animation-delay: 5s;

}
@keyframes bounce-animation{
    from{
        transform: translateY(0);
    }
    to{
        transform:  translateY(-100px);
    }
}
@keyframes rotate-animation{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
    /* 0%   {background-color: aquamarine;}
  25%  {background-color: rgb(7, 192, 216);}
  50%  {background-color: rgb(11, 33, 162);}
  100% {background-color: rgb(112, 17, 190);} */
}