*{
     padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: 50px;
    animation: rotate-animation 1s linear infinite;
    color: black;
}
@keyframes rotate-animation{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}