* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4%;
}

nav {
  display: flex;
  gap: 4px;
}

nav a {
  color: #0f1015;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
}

nav a:hover {
  background-color: #404f6d0f;
}

.header-last {
  display: flex;
  gap: 8px;
}

.signup-link,
.login-link {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 8px;
}

.signup-link {
  border: 1px solid #66666668;
  color: #0f1015;
}

.signup-link:hover {
  background-color: #404f6d0f;
}

.login-link {
  background-color: #8b3dff;
  color: white;
}

.login-link:hover {
  background-color: #7630d7;
}

/* header end */

/* hero section start */

main {
  padding: 0 2%;
  background: linear-gradient(180deg, #584df5 5%, #bfabfc 20%, #ffffff 50%);
}

.main-first-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  color: white;
}

.hero-left h1 {
  font-size: 52px;
  padding-bottom: 2rem;
}

.hero-left p {
  padding-bottom: 32px;
}

.hero-left button {
  background-color: #ffffffe5;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.hero-right video {
  width: 48vw;
  border-radius: 20px;
}

.hero-right {
  position: relative;
}

.hero-right button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.678);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-h2 {
  text-align: center;
  font-size: 44px;
  padding: 20px 0;
}

.hero-options-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.hero-options {
  background-color: white;
  padding: 8px;
  border-radius: 40px;
  height: 60px;
  display: flex;
  gap: 60px;
  box-shadow: 2px 2px 6px 0px #00000050;
}

.hero-options button {
  font-size: 16px;
  height: 100%;
  border-radius: 45px;
  border: none;
  background-color: transparent;
}

.hero-options button:first-child {
  background-image: linear-gradient(
    98deg,
    #00c4cc -9.02%,
    #5a32fa 77.89%,
    #7630d7 158.29%
  );
  color: white;
  padding: 8px 16px;
}

/* bento grid section */

.bento-grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  height: 80vh;
}

.column-1 {
  width: 70%;
  position: relative;
}

.cloumn-1-options,
.cloumn-2-options {
  position: absolute;
  top: 40px;
  left: 40px;
}

.cloumn-1-options p,
.cloumn-2-options p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 28px;
}

.cloumn-1-options button,
.cloumn-2-options button {
  background-color: #ffffffe5;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.column-1 video,
.column-2 img,
.column-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.column-2 {
  width: 30%;
  position: relative;
}

.cloumn-2-options .bento-1-para {
  color: black;
}

/* main section end */

/* image generation section start */

.img-generation-section {
  padding: 0 2%;
  margin: 160px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-generation-left h2 {
  font-size: 44px;
  color: #0f1015;
}

.img-generation-left p {
  margin: 40px 0;
  columns: #0f1015;
  line-height: 24px;
  word-spacing: 2px;
}

.img-generation-left form {
  display: flex;
  gap: 20px;
  width: 100%;
}

.input-wrapper {
  width: 80%;
  position: relative;
}
.search-svg {
  position: absolute;
  left: 10px;
  top: 16%;
}

.cross-svg {
  position: absolute;
  right: 10px;
  top: 16%;
  color: #a3a3a3;
}

.img-generation-left form input {
  width: 100%;
  padding: 10px;
  padding-left: 44px;
  border-radius: 8px;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  color: #0f1015ae;
}

.img-generation-left form input:hover {
  border-color: black;
}

.img-generation-left form button {
  width: 20%;
  padding: 10px;
  color: white;
  background-color: #8b3dff;
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

.img-generation-left,
.img-generation-right {
  width: 50%;
}

.img-generation-right {
  text-align: center;
  height: 80vh;
  position: relative;
}

.img-generation-right img {
  width: 72%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
}

.img-generation-right-options {
  width: 60%;
  height: 20%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 20%;
}

/* image generation section end */

.templates-section {
  text-align: center;
  padding: 0 2%;
  margin: 50px 0;
}

.templates-section h2 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.browse-templates-link {
  border: 0.5px solid rgba(0, 0, 0, 0.198);
  color: #0f1015;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;

  /* font-weight: 600; */
}

.templates-container {
  margin-top: 40px;
  overflow-x: scroll;
}

.templates-container::-webkit-scrollbar {
  display: none;
}

.templates-row-1 {
  display: flex;
  gap: 24px;
  height: 50vh;
}

.templates-row-1 img,
.templates-row-2 img {
  border-radius: 8px;
  border: 0.5px solid rgb(228, 228, 228);
  flex-shrink: 0;
}

.templates-row-2 {
  display: flex;
  margin-top: 24px;
  gap: 24px;
  height: 50vh;
}