*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
:root{
    font-size: 16px;
    
    
}
header{
    display: flex;
    justify-content: space-between;
    padding:0 4%;
    align-items: center;
    
}
body{
    font-family: 'sans-serif';
}
nav{
    display: flex;
    gap: 24px;
   
}
nav a{
    text-decoration: none;
    color: rgb(36, 35, 35);
    padding: 4px 8px;
}
nav a:hover{
    background-color:#404f6d0f;
    border-radius: 4px; 

}
.header-last{
    display: flex;
    gap: 8px;

}
.sign{
    border: 1px solid rgb(80, 78, 78);
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    color: #0f1015;
}
.log{
     border: 1px solid rgb(80, 78, 78);
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #8b3dff;
    color: white;
}
main{
    display: flex;
    justify-content: space-between;
align-items: center;
    /* background-image: linear-gradient(to bottom ,#8b3dff, rgb(79, 136, 255), rgb(253, 253, 255)); */
    background: linear-gradient(180deg,#584df5 45%,#bfabfc 80%,#ffffff 100%);
}
.main-left h1,p,button{ 
    color: white;
    
}
.main-left h1{ 
    color: white;
    font-size: 2rem;
    font-size: 52px;
    padding-bottom: 3rem;
    
}
.main-left h1,p,button{ 
    color: white;
    
}
.main-right video{
    width:50%;
    border-radius: 20px;

}
.main-right
{
    position: relative;
}
.main-right button{
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: rgba(40, 38, 38, 0.001);
    border: none;

}