
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 60px;
}

nav{
    display:flex;
    gap:24px;
}

nav a{
    text-decoration:none;
    color:#222;
    padding:6px 10px;
}

nav a:hover{
    background:#f2f3f5;
    border-radius:6px;
}

.btn{
    display:flex;
    gap:10px;
}

.sign{
    border:1px solid #999;
    padding:8px 18px;
    border-radius:8px;
    text-decoration:none;
    color:#111;
}

.log{
    background:#8b3dff;
    padding:8px 18px;
    border-radius:8px;
    color:white;
    text-decoration:none;
}
.container{
    
}
main{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px;
    background:linear-gradient(180deg,#584df5 45%,#bfabfc 80%,#ffffff 100%);
}

.main-left{
    width:45%;
}

.main-left h1{
    font-size:52px;
    color:white;
    margin-bottom:20px;
}

.main-left p{
    color:white;
    margin-bottom:24px;
    font-size:18px;
}

.main-left button{
    background:white;
    border:none;
    padding:14px 20px;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.main-right video{
    width:520px;
    border-radius:20px;
}

.main-option{
background-color: white;
padding: 10px;
border-radius: 40px;
height: 60px;
display: flex;
gap: 10px;

}
.option{
    font-size: 20px;
    color: #584df5;
}